langchain_community 
arxiv 
tiktoken 
langchainhub 
pymilvus 
langchain 
langgraph 
tavily-python 
sentence-transformers 
langchain-milvus 
langchain-ollama 
langchain-huggingface 
beautifulsoup4 
langchain-experimental 
neo4j 
json-repair 
langchain-openai 
langchain-ollama